# 此 yml 文件用于配置 evsim 模拟
# ##############################################################################
# 模拟参数
# ##############################################################################
timescale: 15 # 每步多少分钟
simulation_length: 60 # 模拟的总步数 --> 5:00 到 20:00

# ##############################################################################
# 日期和时间
# ##############################################################################
# 年, 月, 
year: 2023 # 2015-2023
month: 1 # 1-12
day: 17 # 1-31
# 是否在每次重置环境时随机生成日期
random_day: True # True 或 False

start_training_year: 2023
start_training_month: 1
training_years: 1 # 全年

# 模拟开始时间
# 环境重置后，小时和分钟不会改变
hour: 5 # 模拟开始时间 (24 小时制)
minute: 0 # 模拟开始分钟 (0-59)

# 模拟工作日、周末或两者都模拟
simulation_days: weekdays # weekdays (工作日), weekends (周末), 或 both (两者)

# 电动汽车生成行为
scenario: workplace # public (公共), private (私人), 或 workplace (工作场所)
spawn_multiplier: 5 # 默认为 1，数字越高生成的电动汽车越多。建议在 3-7 之间。如果是 1，通常只有 1/5 的电动汽车出现。

# ##############################################################################
# 价格
# ##############################################################################
discharge_price_factor: 1 # 放电价格是充电价格的多少倍 (绝对值)。两者相似，放电成本可能略高。

# ##############################################################################
# 充电网络
# ##############################################################################
v2g_enabled: True # True 或 False
number_of_charging_stations: 10 # 建议在 5-20 之间。直接设为 20 看看会发生什么
number_of_transformers: 1
number_of_ports_per_cs: 1
# 如果你想加载特定的充电拓扑，请提供路径，
# 否则填写 None 以使用上述参数生成随机拓扑
charging_network_topology: None # ./config_files/charging_topology_10.json

# ##############################################################################
# 功率设定点设置
# ##############################################################################
# 功率设定点相对于额定功率的百分比变化量
# 数字越高越容易满足功率设定点，负数则相反
power_setpoint_flexiblity: 20 # (百分比 +/- %)

# ##############################################################################
# 不可调节负载、太阳能发电和需求响应
# ##############################################################################
# 是否将不可调节负载包含在变压器功率限制中，例如住宅负载
tr_seed: -1 # 变压器负载随机数生成器的种子 (-1 表示随机种子)

inflexible_loads: # 办公室、家庭
  include: True # True 或 False
  inflexible_loads_capacity_multiplier_mean: 0.5 # 默认为 1，数字越高不可调节负载越多
  forecast_mean: 30 # 时间 t 的负载百分比
  forecast_std: 5 # 时间 t 的负载百分比

# 光伏太阳能发电
solar_power:
  include: True # True 或 False
  solar_power_capacity_multiplier_mean: 0.1 # 默认为 1，数字越高太阳能发电越多
  forecast_mean: 20 # 时间 t 的负载百分比
  forecast_std: 5 # 时间 t 的负载百分比

# 是否将需求响应包含在变压器功率限制中
demand_response:
  include: False # True 或 False
  events_per_day: 1
  # 多少变压器功率限制可用于需求响应
  event_capacity_percentage_mean: 30 # (减少的百分比 +/- %)
  event_capacity_percentage_std: 10 # (百分比 +/- %)
  event_length_minutes_min: 60
  event_length_minutes_max: 120
  event_start_hour_mean: 15 # 下午可能更拥堵？
  event_start_hour_std: 2
  # 我们提前多少分钟知道事件发生
  notification_of_event_minutes: 300 # 实际上可能提前一天知道？

# ##############################################################################
# 电动汽车规格
# ##############################################################################
heterogeneous_ev_specs: True # 如果为 False，每辆电动汽车具有相同的规格
# 例如电池容量、充电速率等
ev_specs_file: ./ev2gym/data/ev_specs_v2g_enabled2024.json # 电动汽车规格文件的路径

# ##############################################################################
# 默认模型值
# ##############################################################################
# 如果不使用充电网络拓扑文件或未提供电动汽车规格，则使用这些值

# 默认变压器模型
transformer:
  max_power: 90 # 单位 kW

# 默认充电站模型
charging_station:  
  min_charge_current: 0 # 安培 --> 下一步：在此处设置限制并在成本函数中惩罚错误操作
  max_charge_current: 16 # 安培
  min_discharge_current: 0 # 安培 (实际值 <= 0)
  max_discharge_current: -16 # 安培 (实际值 <= 0)
  voltage: 400 # 伏特
  phases: 3 # 1, 2, 或 3

# 默认电动汽车模型
ev:
  # 如果 "heterogeneous_ev_specs = False"，则使用以下值
  battery_capacity: 50 # 单位 kWh
  max_ac_charge_power: 11 # 单位 kW
  min_ac_charge_power: 0 # 单位 kW
  max_dc_charge_power: 50 # 单位 kW
  max_discharge_power: -11 # 单位 kW
  min_discharge_power: 0 # 单位 kW
  ev_phases: 3  
  charge_efficiency: 1 # 0-1 (0% - 100%)
  discharge_efficiency: 1 # 0-1 (0% - 100%)
  transition_soc: 1 # 0-1 (0% - 100%)

  # 如果 "heterogeneous_ev_specs = True"，也使用以下值
  min_battery_capacity: 5 # 单位 kWh
  min_v2g_capacity: 20 # 单位 kWh
  min_time_of_stay: 120 # 单位 分钟
  min_v2g_soc: 0.5 # 50%
  desired_capacity: 1 # 在 (0-1) 之间 (0% - 100%)
  # 如果 transition_soc < 1，曲线受以下影响：
  transition_soc_multiplier: 5 # 默认 1 (数字越高，恒流恒压区域的影响越短)
  # @ Stavros: 最后一个是什么意思？